<div class="row account-list">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Wallet Accounts &nbsp;
                            <span>
                                <a href="#" data-toggle="modal" data-target="#create-wallet">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            </span>
                        </h5>
                        <hr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Wallet Name</th>
                                    <th scope="col">Primary Account</th>
                                    <th scope="col">Open Date</th>
                                    <th scope="col">Ballance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="">E - Banking</a></td>
                                    <td>86822096201</td>
                                    <td>11 Aril 2019</td>
                                    <td>Rp.10.000.000,00</td>
                                </tr>
                                <tr>
                                    <td><a href="">E - Payment</a></td>
                                    <td>86822096202</td>
                                    <td>11 Aril 2019</td>
                                    <td>Rp.20.000.000,00</td>
                                </tr>
                                <tr>
                                    <td><a href="">E - Merchant</a></td>
                                    <td>86822096203</td>
                                    <td>11 Aril 2019</td>
                                    <td>Rp.30.000.000,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <app-modalcreatewallet></app-modalcreatewallet>