 <!-- sidebar -->
 <div class="sidebar">

  <nav class="nav flex-column">
    <ul>
      <li class="nav-item nav-dashboard" routerLinkActive="active">
        <a class="nav-link" routerLink="/customer/dashboard"><i class="fas fa-tachometer-alt"></i>&nbsp; Dashboard</a>
      </li>
      <li class="nav-title">MAIN MENU</li>
      <li class="nav-item" routerLinkActive="active" *ngFor="let menu of mainMenu">
        <a class="nav-link" routerLink="{{menu.link}}"><i class="fas {{menu.icon}}"></i>&nbsp; {{menu.name}}</a>
      </li>
    </ul>
  </nav>
</div>