<div class="home-content">
  <!-- banner -->
  <div class="banner"></div>

  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-left banner-text">
          <h1>Mini Bank</h1>
          <h2>Perfect Financial Partner</h2>

          <a href="#about" class="btn btn-danger btn-rounded">More</a>
          <a routerLink="/register" class="btn btn-primary btn-rounded">Register</a>
        </div>
        <div class="col-sm-6 text-right banner-image">
          <img src="./../../../assets/images/banner-2.png">
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center content-center title">
          <h2>About</h2>
          <hr class="hr-line">
        </div>

        <div class="col-sm-6">
          <div class="about-image">
            <img src="./../../../assets/images/banner.jpg" alt="profile">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="about-desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laudantium nostrum quis facilis iusto
              totam est at, dicta amet modi error, ducimus eaque labore omnis neque, tenetur magni. Quia, excepturi?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quos eaque voluptatum et. Ad voluptates
              mollitia sed est ipsum, accusamus commodi, ex quas labore animi quia repellat. Nemo, in ab.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- services  -->
  <div id="services">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center content-center title">
          <h2>Services</h2>
          <hr class="hr-line">
        </div>

        <div class="col col-sm-6 col-md-3  text-center service">
          <div class="card card-body">
            <i class="fas fa-address-book fa-3x"></i>
            <br>
            <p>Customer Arsip</p>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 text-center service">
          <div class="card card-body">
            <i class="fas fa-credit-card fa-3x"></i>
            <br>
            <p>Credit Card</p>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 text-center service">
          <div class="card card-body">
            <i class="fas fa-headset fa-3x"></i>
            <br>
            <p>Call Service</p>
          </div>
        </div>

        <div class="col col-sm-6 col-md-3 text-center service">
          <div class="card card-body">
            <i class="fas fa-user-lock fa-3x"></i>
            <br>
            <p>Security</p>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 text-center service">
          <div class="card card-body">
            <i class="fas fa-wallet fa-3x"></i>
            <br>
            <p>Wallet</p>
          </div>
        </div>

        <div class="col col-sm-6 col-md-3 text-center service">
          <div class="card card-body">
            <i class="fas fa-shield-alt fa-3x"></i>
            <br>
            <h5>Protection</h5>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 text-center service">
          <div class="card card-body">
            <i class="fas fa-calendar-alt fa-3x"></i>
            <br>
            <p>Scheduling</p>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 text-center service">
          <div class="card card-body">
            <i class="fas fa-graduation-cap fa-3x"></i>
            <br>
            <p>Scholarship</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="wallets">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center content-center title">
          <h2>E-Wallet</h2>
          <hr class="hr-line">
        </div>

        <div class="col col-md-4 wallet">
          <img src="./../../../assets/images/banking.jpg" alt="">
          <br><br>
          <h5>E-Banking</h5>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quibusdam porro illo vero! Velit,
            quibusdam. Neque, explicabo amet commodi, maxime impedit voluptatum alias magni blanditiis labore sunt
            beatae ea ex?</p>
          <a href="#" class="btn btn-primary btn-sm btn-rounded">More</a>
        </div>

        <div class="col col-md-4 wallet">
          <img src="./../../../assets/images/payment.jpg" alt="">
          <br><br>
          <h5>E-Payment</h5>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quibusdam porro illo vero! Velit,
            quibusdam. Neque, explicabo amet commodi, maxime impedit voluptatum alias magni blanditiis labore sunt
            beatae ea ex?</p>
          <a href="#" class="btn btn-primary btn-sm btn-rounded">More</a>
        </div>

        <div class="col col-md-4 wallet">
          <img src="./../../../assets/images/merchant.jpg" alt="">
          <br><br>
          <h5>E-Merchant</h5>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quibusdam porro illo vero! Velit,
            quibusdam. Neque, explicabo amet commodi, maxime impedit voluptatum alias magni blanditiis labore sunt
            beatae ea ex?</p>
          <a href="#" class="btn btn-primary btn-sm btn-rounded">More</a>
        </div>

      </div>
    </div>
  </div>

  <div id="footer" class="bg-blue">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Mini Bank</h4>
            <p>Mini Bank Tower, Jl. Apa Adanya No 20, Tangerang Selatan</p>
            <ul>
              <li><i class="fas fa-envelope"></i> &nbsp;minibank@local.com</li>
              <li><i class="fas fa-phone"></i> &nbsp;022-2837-232</li>
              <li><i class="fas fa-mobile"></i> &nbsp;&nbsp;0875349866</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>Quick Menu</h4>

            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">E-Wallet</a></li>
              <li><a href="">New Account</a></li>
            </ul>
          </div>
          <div class="col-md-5"></div>
          <div class="col-md-12">
            <hr>
            Mini Bank &copy; 2019 All Right Reserved.
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
