<div class="row account-list">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>List Accounts &nbsp;
                            <span>
                                <a href="#" data-toggle="modal" data-target="#create-account">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            </span>
                        </h5>
                        <hr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Account Name</th>
                                    <th scope="col">Account Number</th>
                                    <th scope="col">Open Date</th>
                                    <th scope="col">Ballance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ac of accounts">
                                    <td>{{ac.accountName}}</td>
                                    <td>{{ac.accountNumber}}</td>
                                    <td>{{ac.openDate | date: 'longDate'}}</td>
                                    <td>{{ac.ballance | currency: 'Rp. '}}</td>
                                </tr>
                                <tr>
                                    <th colspan="3">Total Ballance</th>
                                    <th>{{totalBallance | currency: 'Rp. '}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modalcreateaccount (emmiterModal)="successCreated"></app-modalcreateaccount>