<nav class="navbar navbar-expand-lg fixed-top public-nav">
    <div class="container">
      <a class="navbar-brand" href="/"><b>Mini Bank</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav main">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#wallets">E-Wallet</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="http://localhost:4600/login" target="_blank" class="nav-link">Wallet</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Customer</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  